.container{
    width: 100%;
    height: 300px;
    background-color: rgb(56, 155, 155);
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items:  center;
}
.container h2{
    font-size: 40px;

}
.container p{
    font-size: 20px;
}
.items{
    background-color: black;
    width: 99%;
    height: 70px;
    display: flex;
    color: #fff;
    align-items: center;
    padding-left: 20px;
}
.link{
    border: 5px solid #000;
    width: 100px;
    font-size: 25px;
}
.sidebar{
    width: 25%;
    background-color: rgb(221, 218, 218);
    height: 1000px;
}
.image{
    width: 450px;
    height: 300px;
    background-color: grey;
    font-size: 30px;
    margin: 15px;
    border-radius: 5px;
}
.sidebar p{
    font-size: 25px;
}
.image2{
   width: 450px;
   height: 80px;
   background-color: rgb(150, 148, 148);
   margin: 15px;
   border-radius: 5px;
}
.whole{
    display: flex;
}
.maincontent{
    background-color: #fff;
    float: right;
    width: 80%;
    border: 10px solid#fff;
}
.maincontent h2{
    font-size: 40px;
    padding-left: 30px;
}
.maincontent p{
    font-size: 30px;
    padding-left: 30px;

}
.image3{
    width: 98%;
    height: 300px;
    background-color: grey;
    font-size: 30px;
    margin: 15px;
    border-radius: 5px;
}
.media{
    background-color: yellow;
    text-align: center;
    height: 50px;
    align-items: center;
    font-size: 20px;
    padding-top: 5px;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: grey;
    font-size: 30px;
}
.footer p{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}