h1{
    color: blueviolet;
    text-align: center;  
}
#king{
    color: palevioletred;

}

.para{
    color: palevioletred;
}

/*Group selectors*/
#div1, #div2{
    font-size: 30px;
}

/*Descendent combinator*/
#div1 p{
    color: red;
    font-size:  large;
}
/* child combinator*/
#div2>p{
    color: blueviolet;
    font-size: 30px;
}
/* adjacent sibling combinator*/
div+p{
    color: aqua;
    font-size: 40px;
}
/*general sibling*/

div~p{
    color: chartreuse;
    font-style: italic;
}

#wed{
    color: brown;
    font-size: medium;
}

.nav a {
    color:green;
    font-size: large;
    font-style: italic;
}

#outer a:hover{
     color: chartreuse;
}

#outer .nav a{
    color: crimson;
    
} 

#outer a:hover{
    color: chartreuse;
}