*{
	font-family: 'Poppins', sans-serif;
}
body{
	background-image:  url(./bg1.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

nav{
	display: flex;
	padding: 2% 5%;
    justify-content:right;
    align-items: center;
}
.navlinks{
	flex: 1;
	text-align: right;
	color: #fff;
}
.navlinks ul li{
	list-style: none;
	display: inline-flex;
	padding: 8px 12px;
	position: relative;
	background-color: transparent;

}
.navlinks ul li:hover{
	
	background-color: crimson;  
}
.textbox{
	color: #fff;
	font-size: 35px;
    text-align: center;

}	
.textbox a{
	background: crimson;
	border-radius: 10px;
	font-size: 25px;
	padding: 5px 5px 5px 5px;
	
}
.textbox a:hover{
      background-color: crimson;
	  padding: 7px;
}
@media print{
	textbox{
		color: red;
		font-size: 100px;
		text-align: right;
	
	}
}
.container2{
	display: inline-block;
	width: 100%;
	height: 100%;
	margin-top: 90px;
	/*border: 20px solid black;*/
}
.container2 img{
	height: 700px;
	width: 500px;
	margin: 10px;
	padding-left: 200px;
}
.floats{
	height: 150px;
}
.floats p{
	padding-top: 30px;
}

.float_prop{
	width: 100%;
	height: 500px;
	overflow: auto;
	text-align: center;
}
.justfloat{
	background-color: aqua;
	width: 150px;
	height: 150px;
	float: left;
	border: 2px solid black;
	margin: 10px;
}
.justfloat img{
	width: 150px;
	height: 150px;
}
.float_prop p{
	color: #fff;
}
.justfloat1{
	background-color: aqua;
	width: 150px;
	height: 150px;
	float: right;
	border: 2px solid black;
}
.justfloat1 img{
	height: 150px;
	width: 150px;
}
#para{
	margin: 40px;
}
.container{
	border: 2px solid black;
	background-color: #8FBC8F;
	margin: 10px;
	overflow: hidden;
}
.container h1{
	text-align: center;
}
.container1{
	display: inline-flex;
}

#border-box{
	height: 240px;
	margin-left: 5px;
	margin-right: 5px;
}
#content-box{
	margin-left: 5px;
}

.box{
	width: 98%;
	height: 250px;
	border: 2px solid black;
	background-color: #FAEBD7;
	overflow:hidden;
}
.box1{
	width: 98%;
	display: block;
	background-color: #FAEBD7;
	border: 2px solid black;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
	.container {
	  background-color: lightslategray;
	}
	.container1{
		display: block;
		overflow: hidden;
		margin: 10px;
	}
	#border-box{
		margin-top: 5px;
	}	
	
  }
  .container3{
       width: 50%;
	   border: 10px solid blueviolet;
	   height: 350px;
	   box-sizing: border-box;
  }
  .container4{
       width: 50%;
	   border: 10px solid greenyellow;
	   height: 350px;
	   padding: 50px;
	   box-sizing: border-box;
  }
  
#div1{
	position: relative;
	height: 300px;
	width: 300px;
	background-color: rgba(197, 43, 226, 0.271);
	border: 2px solid black;
}
#childdiv{
	position: absolute;
	height: 100px;
	width: 100px;
	background-color: pink;
	border: 2px solid black;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.flex-container{
	background-color: #fcf6f5ff;
	width: 85%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 1800px;
	
}
.flex-item{
	width:500px;
	height: 400px;
	background-color: #89abe3ff;
	text-align: center;
	font-size: 30px;
	margin: 20px;
	justify-content: space-between;
	border-radius:15px;
	overflow: hidden;
}
/*
#bigdeal{
	width: 360px;
	height: 70px;
	margin: 10px;
	margin-top: 120px;
	border-radius:15px;
	background-color:cornsilk;
}*/
#tenth{
	order:3;
	flex-grow: 500px;
	flex-shrink: 10px;
	align-self: ;

}
